{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-1">
    <h1 class="display-4 text-center mb-4 fw-bold display-4 text-primary" data-aos="fade-up ">My Projects</h1>
    <p class="lead text-center mb-5" data-aos="fade-up" data-aos-delay="200">Explore some of the most recent and exciting projects I have worked on.</p>

    <!-- Portfolio Grid -->
    <div class="row justify-content-center">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:1 }}00">
            <div class="card border-0 shadow-lg rounded-3 overflow-hidden h-100">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}" style="object-fit: cover; height: 200px;">
                <div class="card-body p-4">
                    <h5 class="card-title text-dark">{{ project.title }}</h5>
                    <p class="card-text text-muted mb-3">{{ project.description }}</p>
                    {% if project.url %}
                        <a href="{{ project.url }}" class="btn btn-outline-primary" target="_blank">View Project</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No projects added yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
