{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 text-center" >
    <h1 class="animate__animated animate__fadeIn">My Resume</h1>
    <p class="text-muted">Here is my resume. You can view or download it below.</p>
    <br>
    
    <!-- Embedded Resume Preview -->
    <div class="d-flex justify-content-center " data-aos="fade-up">
        <iframe src="{% static 'resumes/diwashcv.pdf' %}" width="80%" height="600px" style="border: none;"></iframe>
    </div>
    <br>
    <!-- Resume Download Button -->
    <div class="my-3" data-aos="fade-up" data-aos-delay="200">
        <h3>Click here to Download resume.</h3>
        <a href="/static/resumes/diwashcv.pdf" class="btn btn-primary btn-lg" download = "resumes/diwashcv.pdf">
            <i class="fas fa-download"></i> Download Resume
        </a>
        
    </div>

</div>

<!-- AOS Animation Library -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init(); // Initialize animations
</script>

{% endblock %}

